In [42]:
!git clone https://github.com/austinlackey/NPSFlags
%cd /content/NPSFlags/
!git pull
from autoflags import *
from google.colab.data_table import DataTable

from google.colab import files
uploadedFile = files.upload()
filename = next(iter(uploadedFile))
flagsTable = runFile(filename)

fatal: destination path 'NPSFlags' already exists and is not an empty directory.
/content/NPSFlags
Already up to date.

StopIteration: ignored

In [41]:
def highlight_cells(value):
    if value == False:
        color = '#FFB3BA' # Red
    elif value == True:
        color = '#BAFFC9' # Green
    else:
        color = '' # No Conditional Formatting
    return 'background-color: {}'.format(color)

flags = flagsTable[0].style.applymap(highlight_cells)
errors = flagsTable[1]

flags